.content {
    margin: 0 5%;
  }

  #form button {
    color: #F7EAB3;
  }
  
  /*Navigation Bar*/ 
  .flex{
    display:flex;  
  }
  .items-center{
    align-items:center;
  }

  .justify-between{
    justify-content: space-between;
  }
  :root{
    --blue:#2F809D;
    --yellow:#FCA718;
    --red:#FC1E00;
    --white:#ffffff;
    --black:#000000;
  }
  body{
    font-family:'Roboto', 'sans-serif';
  }


  *{
    padding:0;
    margin-bottom:10px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialised; 
    scroll-behavior: smooth;
    font-family:'Roboto', 'sans-serif';
    }
  header{
    background:var(--white);
    height: 30vh;
  }
  header nav .right a{
    color:var(--black);
    text-decoration:none;
  }

/*Body*/

.hero-Image{
    padding: 0%;
    margin: 0%;
    margin-bottom: 100px;
    width: 100%;
}
.hero-text{
    color: white;
    font-size:42px;
    text-align: center;
    margin-top: -400px;
}

.mission{
    margin-top: 300px;
}
h3{
    font-size: 32px;
    margin-left: 5%;
    margin-right: 5%;
}
p{
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}
.kristen{
    margin-top: 100px;
    margin-left: 5%
}
.title{
    margin-top:-250px;
    margin-left: 30%;
}
.name{
    margin-left: 30%;
    font-size: 24px;
}
.blurb{
    margin-left: 30%;
    margin-right: 5%;
}
.christopher{
    margin-top: 100px;
    margin-left: 5%;
}
.title2{
    margin-top:-230px;
    margin-left: 30%;
}
.name2{
    margin-left: 30%;
    font-size: 24px;
}
.blurb2{
    margin-left: 30%;
    margin-right: 5%;
}
.finalT{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.socialM{
    margin-top: 5%;
    margin-left: 5%;
}
.icons{
    margin-top:5%;
}
.ig{
    margin-left: 5%;
    margin-right:13%;
}
.fb{
    margin-right: 13%;
}
.twitter{
    margin-right: 13%;
}
.pinterest{
    margin-right: 13%;
}
.linked{
    margin-right: 13%;
}
.youtube{
    margin-right: 5%;
}
.insta{
    margin-top:3%;
    margin-left: 4%;
    margin-right: 13%;
}
.facebook{
    margin-top: -2.8%;
    margin-left: 20%;
    margin-right:13%;
}
.tweet{
    margin-top: -2.8%;
    margin-left: 37%;
    margin-right: 13%;
}
.pin{
    margin-top: -2.8%;
    margin-left: 53%;
    margin-right: 13%;
}
.linkedIn{
    margin-top: -2.8%;
    margin-left: 69.5%;
    margin-right: 13%;
}
.yt{
    margin-top: -2.8%;
    margin-left: 86%;
    margin-right: 5%;
}


/*Footer*/
footer {
    background-color: #35485E;
  }
  
  footer .row{
    margin: 2.5%;
  }
  
  footer .row .col {
    margin-top: 2.5%;
  }
  
  footer .row .col-2 {
    margin-top: 2.5%;
  }
  
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  .text-muted {
    color: #ffffff !important;
  }

  h5 {
    color: #F7EAB3;
  }
  .btn:hover{
    color: #35485E;
    background-color:#ffffff;
    border: 1px solid var(--yellow);
  }
  
  .btn {
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    color: #35485E;
  }

  .nav-link {
    color: #000000;
    font-family: 'Raleway', 'sans-serif';
  }

  .nav-item {
    margin: 0 2vw;
  }